body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.slideCon {
  width: 100vh;
  height: 30vh;
  background: #e3e4ee; }

.slideCon1 {
  width: 100vh;
  height: 30vh;
  background: #e3e4ee; }
